@charset "utf-8";
		body {
	background-color: #FFF;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

a.navlink:link { color: #003366; text-decoration: none; }
a.navlink:visited { color: #003366; text-decoration: none; }
a.navlink:hover { color: #cccccc; text-decoration: none; }
				
.title {
	font-size: 20px;
	font-weight: 900;
	color: #ffffff;
	padding-top: 15px;

	top: 15px;
		}

#header_wrapper {
	width: 100%;
	background-color: #E48D48;
}

#header {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E48D48;
	position: relative;
	height: 42px;
	margin-bottom: 5px;
}

#content {
	width: 960px;
	min-height:560px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:10px;
	background-color: #ffffff;
	position: relative;
}
#searchbox {
	position: absolute;
	height: 25px;
	width: 320px;
	left: 200px;
	top: 14px;
	z-index: 100;
}

#search_input{
	border: 1px solid #CCC;
	float:left;
	height: 16px;
	font-size: 11px;
	color: #333;
}

#pm_box {
	position: absolute;
	left: 160px;
	top: 14px;
}
#pm_button {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images_bl/private_message.png);
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
	cursor:pointer;
}

#pm_container{
	background-color: #F7F7F7;
	position: absolute;
	min-height: 160px;
	width: 280px;
	left: 162px;
	top: 40px;
	display:none;
	z-index: 50;
	border: 2px solid #e48d48;
	padding: 5px;
}
#pm_container h2{
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e48d48;	
}
/*<!--#pmform {
	background-color: #FCFCFC;
	padding: 5px;
	height: 230px;
	width: 450px;
	border: 5px solid #666;
	margin-left: -227px;
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 120px;
}-->*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*
//this use the absolute positioning
#pmform {
	background-color: #FCFCFC;
	padding: 5px;
	height: 230px;
	width: 450px;
	border: 5px solid #666;
	margin-left: -227px;
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 220px;
	display:none;
}*/

#pmform {
	background-color: #FCFCFC;
	padding: 5px;
	height: 230px;
	width: 450px;
	border: 5px solid #666;
	margin-left: -227px;
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 220px;
	display:none;
}
#pmform_lb {
	background-color: #FCFCFC;
	padding: 5px;
	height: 230px;
	width: 450px;
	border: 5px solid #666;
	margin-left: -227px;
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 120px;
	display:block;
}
#pmForm_header{
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	color: #F8F8F8;
	background-color: #e48d48;
	text-align: center;
	height: 25px;
}
#pmform p {
	margin-top: 20px;
	margin-bottom: 10px;	
}

#buttons_para{
	text-align:right;
}
#ally_name{
	text-align: right;
	float: left;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-right: 10px;
}

#pmessage_to{
	text-align: right;
	float: left;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-right: 10px;
}

#name_input{
	border: 1px solid #e48d48;	
	width:280px;
}

#message_input{
	border: 1px solid #e48d48;
	width:280px;
}

#pm_submit{
	background-color: #333;
	border: 1px solid #e48d48;
	font-weight: bold;
	color: #e48d48;
	margin-right:20px;
}

#pm_cancel{
	border: 1px solid #e48d48;	
	margin-right:20px;
}

.pm_item{
	background-color: #F1F1FA;
	padding: 2px;
	margin-bottom: 2px;
	margin-top: 5px;
}

.rep_name{
	font-size: 12px;
	font-weight: bold;
	color: #663;
}

#search_submitbutton{
	float:left;
	height: 20px;
	border: 1px solid #CCC;
	background-image: url(../images_bl/search_button.jpg);
	background-repeat: no-repeat;
	width: 23px;
}
.bigLinkHover{
	background-color:#ff0;
}
.bigLink a{
	text-decoration:none;
	color:#000;
}
.bigLinkHover p{
	color:#F20;
}

.hoverBigLink {
	background-color: #F7EFDF;
}

.display_pmitem{
	background-color: #F7EFDF;
	padding: 5px;
	margin-bottom: 10px;
	min-height:50px;
}

#topnav {
	height: 27px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	z-index: 5;
	position: relative;
}
#topnav ul{
	margin-left:480px;
}
#topnav li {
	float:left;
	background-image: url(../images_bl/tab_right.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	margin-right: 20px;
}
#topnav a {
	display:block;
	padding-right: 15px;
	padding-left: 15px;
	background-image: url(../images_bl/tab_left.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 27px;
	font-weight: bold;
	color: #F5F5F5;
	text-decoration: none;
}
#topnav a:visited {
	color: #f5f5f5;
	text-decoration: none;
}
#topnav a:hover {
	color: #F90;
	text-decoration: none;
}

#leftnav {
	width: 180px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:10px;
	float:left;
	background-color: #ffffff;
}
#leftnav_inner {
	width: 170px;
	
	background-color: #ffffff;
}
.avatar_style{
	padding: 2px;
	border: 1px solid #e48d48;
	margin-top: 5px;
	margin-bottom: 5px;
}
.avatar_small{
	padding: 2px;
	border: 1px solid #e48d48;
	margin-right: 5px;
	float: left;
}
.message_style {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #e48d48;
	margin-bottom: 15px;
	padding-bottom: 5px;
	clear: both;
}

.message_style a {
	font-weight: bold;
	color: #E48d48;
	text-decoration: none;		
}
.message_style a:visited {
	font-weight: bold;
	color: #E48d48;
	text-decoration: none;
}
.message_style a:hover {
	font-weight: bold;
	color: #CC0;
	text-decoration: none;
}

#main_content {
	background-color: #FFF;
	min-height:560px;
	padding: 0px;
	float: left;
	width: 778px;
	border: 1px solid #E48d48;
}

#main_content_inner {
	
	margin: 10px;
	float: left;
	width: 538px;

}

#main_content_inner h2 {
	font-size: 18px;
	line-height: 24px;
	color: #690;
}

#main_content_inner h3 {
	font-size: 18px;
	line-height: 24px;
	color: #C30;
}

#main_content_right {
	float: left;
	width: 210px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: right;
}

#footer_wrapper {
	width: 100%
	margin-top:10px;
	background-color: #ffffff;
	border-top:1px solid #E48D48;
	clear:both;
	height: 400px;
}
#footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	background-color: #ffffff;

	text-align:center;
}#header_wrapper_index {
	width: 100%;
	background-color: #E48D48;
	height: 80px;
}
.title2 {
	font-size: 36px;
	font-weight: normal;
	color: #ffffff;
	margin-bottom: 5px;
	padding-top: 20px;
	padding-bottom: 8px;
	float: left;
}
#login_area {
	position: absolute;
	left: 580px;
	top: 10px;
}

#leftpromo {
	width: 580px;
	min-height:460px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:10px;
	float:left;
	background-color: #ffffff;
	background-image: url(../images_bl/world_orange.jpg);
}
#main_registration {
	background-color: #fdfcfa;
	min-height:460px;
	padding: 0px;
	float: left;
	width: 380px;
}
#main_registration h2 {
	font-size: 20px;
	font-weight: bold;
	color: #e48d48;
	line-height: 36px;
}
label {
	text-align: left;
	width: 100px;
	float: left;
}
#main_registration form p {

}
.email_label {
	float:left;
	width: 145px;
	text-align:left;
	font-size: 11px;
	color: #F9F9F9;
		font-weight: bold;
}
.password_label {
	float:left;
	width: 145px;
	text-align:left;
	margin-left: 10px;	
		font-size: 11px;
	color: #F9F9F9;	
		font-weight: bold;
}
.login_button {
	float:left;
	margin-top:16px;	
}

#index_login{
	background-color: #F5F5F5;
	border: 1px solid #ccc;	
	margin-top:2px;
}
.sign_up{
	text-align:center;
	
}
.forget_password a {
	font-size: 10px;
	font-weight: bold;
	color: #F8F8F8;	
	text-decoration:none;
}

.forget_password a:visited {

	color: #F8F8F8;	
	text-decoration:none;
}
.forget_password a:hover {

	color:#699;

}


#main_registration_inner {
	background-color: #fdfcfa;
	min-height:420px;
	padding: 0px;
	float: left;
	width: 340px;
	margin: 20px;
}
.title a {
	font-size: 24px;
	font-weight: normal;
	color: #ffffff;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: none;
}
.ally_border {
	margin-top: 10px;
	padding-top: 5px;
	border-top-width: 2px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #e48d48;
}
.post_time {
	font-size: 9px;
	font-weight: bold;
	color: #999;
}

#spare_count{
	background-image: url(../images_bl/spare_bl.jpg);
	height: 20px;
	width: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor:pointer;

}

.spare_count_form{
	font-size: 11px;
	font-weight: bold;
	color: #699;
}

.spare_count{
	background-image: url(../images_bl/spare_bl.jpg);
	height: 20px;
	width: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 11px;
	font-weight: bold;
	color: #699;

}
.title a:visited {
	font-size: 24px;
	font-weight: normal;
	color: #ffffff;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.title a:hover {
	font-size: 24px;
	font-weight: normal;
	color: #699;
	margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
#content_index {
	width: 960px;
	min-height:480px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:10px;
	background-color: #ffffff;
	margin-top: 20px;
}
#leftpromo h2 {
	font-size: 24px;
	color: #666;
	line-height: 36px;
}
.replies{
	background-color: #CECEFF;
	padding: 10px;
}
.reg_form{
	height:45px;
}


#main_content_inner h4 {
	font-size: 14px;
	line-height: 18px;
	color: #690;
}
#main_content_right select {
	font-size: 10px;
	font-weight: bold;
	color: #E48d48;
}
#request_button {
	background-color: #EDF3F3;
	font-weight: bold;
	color: #690;
	padding: 2px;
	font-size: 10px;
	margin-top: 5px;
	border: 1px solid #690;
}
#remove_button {
	background-color: #EDF3F3;
	font-weight: bold;
	color: #AA3700;
	padding: 2px;
	font-size: 10px;
	margin-top: 5px;
	border: 1px solid #930;
}
.warning {
	font-size:10px;
	color:#C30;
	font-weight: bold;
	background-image: url(../images_bl/warning_sign.jpg);
	padding-left: 30px;
	background-repeat: no-repeat;
	height: 20px;
	padding-bottom: 2px;
}

.error {
	
}
.signup_para{
	margin-top: 10px;
}

.reg_note{
	font-size: 10px;
	font-weight: bold;
	color: #333;	
}

#reply_button {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: bold;
	color: #e48d48;
	font-size: 10px;
	background-color: #ffffff;
	
}
.view_buttonstyle {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: bold;
	color: #e48d48;
	font-size: 11px;
	height: 20px;
	width: 29px;
	cursor: pointer;
	background-color: #fdfcfa;
}
.reply_name {
	font-weight: bold;
	color: #E48d48;
	text-decoration: none;
	font-size: 10px;
}
.reply_message {
	color: #333;
	text-decoration: none;
	font-size: 11px;
	margin-left: 40px;
	background-color: #FCF7ED;
	padding: 3px;
	margin-bottom: 2px;
}
.replies_container{
	background-color: #E8E8F7;
	height: 10px;
	width: 520px;
}

.replies_body{
	width: 560px;
	display: none;
}
#replybox_button1{
	font-size: 10px;
	color: #F4F4F4;
	background-color: #e48d48;
	margin-top: 5px;
	border: 1px solid #999;
	font-weight: bold;
}

#reply_textarea{
	font-size: 11px;
	color: #666;	
}

.first_reply{
	font-size: 11px;
	font-weight: bold;
	color: #63C;
}
.friend_small {
	padding: 2px;
	border: 1px solid #e48d48;
	margin-right: 5px;
	float: left;
	margin-bottom: 2px;
	margin-left: 5px;
}

.friend_style{
	width: 160px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #636;
	margin-top: 10px;
	clear: both;
	height: 50px;
}

.species_style{
	font-size: 11px;
	font-weight: bold;
	color: #690;	
}
.interests_style{
	font-size: 11px;
	font-weight: bold;
	color: #639;
	font-style: italic;
}

#postbody{
	border: 1px solid #e48d48;
	font-size: 11px;
	color: #666;
	font-family: Helvetica, sans-serif;
}

#subject_input{
	float: left;
	border: 1px solid #e48d48;
	font-size: 11px;
}
#subject_style{
	float:left;
	font-size: 10px;
	font-weight: bold;
	color: #690;		
}
#submit_posthp{
	background-color: #e48d48;
	border: 1px solid #CCC;
	font-size: 11px;
	font-weight: bold;
	color: #F2F2F2;
	margin-left: 20px;
}

#post_form_container{
	background-color: #F3F3F8;
	margin-bottom: 15px;
	height: 80px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
}

#body_style{
	float:left;
	font-size: 10px;
	font-weight: bold;
	color: #690;
	margin-left: 20px;
}
#profile_content {
	width: 538px;
	background-color: #FFF7D5;
	padding: 15px;
}
.profile_para{
	margin-bottom: 10px;	
}
#upload_avatar{
	margin-left:10px;
}
.profile_label{
	font-weight: bold;
	color: #63C;
	float: left;
	width: 120px;
}
#profile_content label{
	border: 1px solid #e48d48;	
}
.profile_record{
	background-color: #F9FEE9;
	padding: 5px;
	margin-bottom: 5px;
}
.profile_label{
	font-size: 14px;
	font-weight: bold;
	color: #603;
	float: left;
	width: 180px;
	clear: both;
}

#uploadphoto_content {
	width: 538px;
	background-color: #669999;
	padding: 15px;
}

.photo_thumbstyle img{
	text-align: center;
	vertical-align: middle;
}

#add_phototitle{
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	color: #FC0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FC0;
	margin-bottom: 15px;
}
.photo_thumbstyle a {
	background-color: #666;
	margin: 10px;
	padding: 3px;
	float: left;
	border: 1px solid #CCC;
	text-decoration: none;
}



.testcolor {
	background-color: #575795;
}
.cContainer{
	display:none;
}

#photocomment_button1{
	background-color: #CCC;
	border: 1px solid #e48d48;
	float: left;
	margin-top: 15px;
}
.comment_item{
	background-color: #4A4A4A;
	padding: 5px;
	margin-bottom: 5px;
}
#comment_textarea{
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

#footer form{
	display:none;
}
/*the following is the css for autocomplete*/
	.ac_results {
		padding: 0px;
		border: 1px solid #575795;
		background-color: white;
		width:280px;
		overflow: hidden;
		z-index: 99999;
	}

	.ac_results ul {
		width: 100%;
		list-style-position: outside;
		list-style: none;
		width:280px;
		padding: 0;
		margin: 0;
	}

	.ac_results li {
		margin: 0px;
		padding: 2px 5px;
		cursor: default;
		display: block;
		width:270px;
		/* 
		if width will be 100% horizontal scrollbar will apear 
		when scroll mode will be used
		*/
		/*width: 100%;*/
		font: menu;
		font-size: 12px;
		/* 
		it is very important, if line-height not setted or setted 
		in relative units scroll will be broken in firefox
		*/
		line-height: 16px;
		overflow: hidden;
	}

	.ac_loading {
		background: white url('indicator.gif') right center no-repeat;
	}

	.ac_odd {
		//background-color: #eee;
	}

	.ac_over {
		background-color: #f3f3f8;
		color: #333;
	}
  
  label {
  display: block;
}
label.valid {
  width: 24px;
  background: url(valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  padding-left: 5px;
  display: inline-block;
}

input {
  display: inline-block;
}